{% extends "planta/base.html"%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
</head>
<body>
    {% block contenedor %}
    <h4>Editar Producto</h4>
    <form style="display: inline-block" action="{% url 'planta:actualizarProducto'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ producto.id }}">
        <div class="mb-3">
          <label  class="form-label">Nombre</label>
          <input name="nombre"type="text" class="form-control" value="{{ producto.nombre }}">
 
        </div>
        <div class="mb-3">
          <label class="form-label">Ficha Tecnica</label>
          <textarea name="ficha_tecnica" cols="30" rows="10">{{ producto.ficha_tecnica }}</textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Costo</label>
            <input name="costo" type="number" class="form-control" value="{{ producto.costo }}" >
        </div>
        <div class="mb-3">
            <label class="form-label">Categoria</label><br>
            <select name="categoria">
                <option value="">Seleccione:</option>
                {% for c in cat %}
                    <option value="{{c.id}}" {% if producto.categoria.id == c.id %}selected=""{% endif %}>{{ c.nombre }}</option>
                {% endfor %}
            </select><br>
   
        </div>
        <div class="mb-3">
            <label class="form-label">Color</label><br>
            <select name="color" >
                <option value="">Seleccione</option>
                <option value="r" {% if producto.color == 'r' %}selected=""{% endif %}>ROJO</option>
                <option value="v" {% if producto.color == 'v' %}selected=""{% endif %}>VERDE</option>
                <option value="a" {% if producto.color == 'a' %}selected=""{% endif %}>AZUL</option>
            </select>
        </div>
        

        <button type="submit" class="btn btn-primary">Actualizar</button>
      </form>
      {%endblock%}


</body>
</html>